$primary: #222;
$secondary: #0DCAF0;
$font1: "Rubik", Inter, Arial;
$font2: Inter, Arial, Tahoma;

.navbar {
    background: $primary;
    .navbar-brand img {
        height: 60px;
    }
    .nav-link {
        font: 22px $font1;
        color: #FFF;
        text-transform: uppercase;
        &:hover {
            color: yellow;
        }
    }
    .navbar-nav .nav-link.show {
        color: $secondary;
    }
    .dropdown-menu {
        background: $primary;
        border-radius: 0;
        border-top: 5px solid $secondary;
        .dropdown-item {
            font: 20px $font1;
            text-transform: uppercase;
            color: yellow;
        }
    }
    .btn {
        margin-left: 5px;
        
    }
}

.btn {
    font: 20px $font1;
    border-radius: 0;
}

h1 {
    font: 36px $font1;
    margin: 30px;
    color: white;
}

.card {
    margin-bottom: 15px;
    box-shadow: 0 0 10px #CCC;
}

.footer {
    color: #FFF;
    padding: 20px;
    background: $primary;
    margin-top: 25px;
}

body {
    margin-top: 80px;
}

.navbar-toggler {
    background: #FFF;
}

p{
    color: white;
}

.pes{
    color: white;
}