*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x:hidden;
    font-family: var(--fonte-p);

}

:root {
    --cor-primaria: #00FACC;
    --cor-secundaria: #37A691;
    --cor-terciaria: #354F4A;
    --cor-fundo: #2F3836;
    --fonte-p: rubik;
  }

.redline{
    flex-direction: column;
    display: flex;
    align-items: center;
    h1{
    text-align: center;
    background-color: red;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: var(--fonte-p);
    font-size: 15px;
    }
}

main{
    background: #000;
    
}

.section-lancamentos .cards{
    max-width: 1140px;
}

.section-tryhard {
    height: 150px;
    background-image:   url("/imgs/valorant.png");
    
    .img{
        width: 50px;
    }
}